#main{
    display: flex;
}

.Book{
    flex-direction: column;
    /* justify-content: space-between; */
}

.Book ul{
    margin: 5%;
}

.Book li{
    margin: 10px 0px;
    font-size: larger;
    list-style: none;
}

.Book input{
    margin-left: 6%;
    width: 80%;
    border-radius: 5px;
    outline: none;
}

.Book textarea{
    margin-left: 6%;
    width: 80%;
    border-radius: 5px;
    outline: none;
}

.Book li:nth-child(2){
    vertical-align: middle;
}

/* .row{
    text-align: center;
    /* justify-content: center; */
    /* align-items: center;
} */ 
.row a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.step{
    display: none;
}
.act{
    display: block;
}

.btn-link:hover {
    transition: .3s;
    transform: scale(1.1);
    border-bottom: 2px solid rgb(0, 136, 255);
}

.navact{
    border-bottom: 4px solid rgb(0, 136, 255);
}